# For iceFUN board

set_io --warn-no-port clk    	35
set_io --warn-no-port rst_n    	39

set_io --warn-no-port spi_cs 25
set_io --warn-no-port spi_mosi 19
set_io --warn-no-port spi_miso 27
set_io --warn-no-port spi_clk 21
set_io --warn-no-port cs1 26
set_io --warn-no-port pwm 20

set_frequency clk 58